.new-item {
  &-form {
    height: 80px;
    padding: 10px 12px 0px 31px;
    display: flex;
    align-items: center;
    margin-top: 35px;
  }

  &-input {
    border: 0;
    border-bottom: 1px solid #333;
    border-radius: 0;
    font-size: 26pt;
    height: 100%;
    vertical-align: top;
    padding: 0 25px;
    width: calc(100% - 112px);
    color: #333;
    outline: none;
  }

  &-button {
    background: url('./../../../../img/send.svg');
    background-size: 71px;
    width: 71px;
    height: 71px;
    display: inline-block;
    position: relative;
    transition: left .2s;
    left: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-left: 26px;

    &:hover {
      left: 5px;
    }
  }
}