.comments {
  &-item {
    display: flex;
    align-items: flex-start;
    padding: 28px 28px 59px 28px;
    border-bottom: 1px solid grey;

    &:last-child {
      border: 0;
    }
  }

  &-avatar {
    min-width: 100px;
    min-height: 100px;

    &.male {
       background-color: #313464;
    }

    &.female {
      background-color: #AF7D93;
    }
  }

  &-text {
    padding-left: 44px;
    font-size: 21pt;
    font-family: 'Arial', 'Open Sans', sans-serif;
    line-height: 30pt;
    word-break: break-all;
  }
}
