.sayer {
  &-header {
    padding: 61px 58px 73px 44px;
  }
}

.comments {
  padding-top: 17px;
  
  &-scroll {
    overflow-y: auto;
    max-height: calc(100vh - 320px);
    height: calc(100vh - 320px);
  }
}

.new-comment {
  &-form {
    height: 110px;
    background-color: #E6E6E6;
    padding: 12px;
    display: flex;
    align-items: center;
  }

  &-input {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 26pt;
    height: 100%;
    vertical-align: top;
    padding: 0 25px;
    width: calc(100% - 120px);
    color: #333;
  }

  &-button {
    background: url('./../../../../img/send.svg');
    background-size: 71px;
    width: 71px;
    height: 71px;
    display: inline-block;
    position: relative;
    transition: left .2s;
    left: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-left: 34px;

    &:hover {
      left: 5px;
    }
  }
}